<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gymmf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".RecetaDetalle"></activity>
        <activity android:name=".Recetas" />
        <activity android:name=".Dietas" />
        <activity
            android:name=".FormularioPaypal"
            android:label="Pago con PayPal" />
        <activity
            android:name=".FormularioOxxo"
            android:label="Pago en OXXO" />
        <activity
            android:name=".FormularioCodigoGym"
            android:label="Código GYM" />
        <activity
            android:name=".FormularioPago"
            android:label="Pago con tarjeta de crédito o débito" />
        <activity
            android:name=".Exito"
            android:label="Registro correcto" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Inscripcion"
            android:label="Registro para la inscripción" />
        <activity
            android:name=".Metodo"
            android:label="Métodos de pago" />
        <activity
            android:name=".Planes"
            android:label="Planes" />
        <activity
            android:name=".Login"
            android:label="GYM2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>